:root {
  --bg: j;
  --text-color: #FFFFFF;
  --font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* Espaço entre os botões */
  margin-top: 50px;
  /* Só pra dar um respiro do topo */
}


#menu button {
  padding: 20px 100px;
  cursor: pointer;
}

/* créditos */
#texto_infom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* Espaço entre os botões */
  margin-top: 50px;
  /* Só pra dar um respiro do topo */
}

/* game */
canvas {
  border: 1px solid black;
  background: #111;
  display: block;
  margin: auto;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  user-select: none;
}

.btn {
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  touch-action: none;
}